<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @place.phone %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @place.lng %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @place.lat %>
</p>

<%= link_to 'Edit', edit_admin_place_path(@place) %> |
<%= link_to 'Back', admin_places_path %>
