<%= simple_form_for([:admin, @ad], html: { class: 'form-horizontal' }) do |f| %>
  <%= render 'shared/error_messages', item: @ad %>
  <%= render 'shared/error_messages', item: @place %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { class: 'form-control' }, placeholder: 'Капучіно' %>
  </div>
  <div class="form-inputs">
    <%= f.input :price, input_html: { class: 'form-control' }, placeholder: '18грн.' %>
  </div>
  <div class="form-inputs">
    <%= f.input :photo, input_html: { class: 'form-control', width: '400px' }, placeholder: 'http://example.com/image.png' %>
  </div>
  <div class="form-inputs">
    <%= f.input :place_id, as: :hidden %>
  </div>
  <%= simple_fields_for :place do |b| %>
    <div class="form-inputs">
      <%= b.input :name, as: :autocomplete, url: autocomplete_place_name_admin_places_path,
       id_element: '#ad_place_id', update_elements: { phone: '#place_phone', latitude: '#place_latitude', longitude: '#place_longitude' }, input_html: { class: 'form-control' }, label: 'Place (start typying for autocompletion)', placeholder: 'Японахата' %>
    </div>
    <div class="form-inputs">
      <%= b.input :phone, input_html: { class: 'extra_place_element form-control' }, placeholder: '0329876543' %>
    </div>
    <div class="form-inputs">
      <%= b.input :latitude, input_html: { class: 'extra_place_element form-control' } %>
    </div>
    <div class="form-inputs">
      <%= b.input :longitude, input_html: { class: 'extra_place_element form-control' } %>
    </div>
  <% end %>
  <br /><br />
  <div class="form-inputs">
    <%= f.button :submit, class: 'btn btn-primary form-control' %>
  </div>
<% end %>
