<%= form_for([:admin, @ad]) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this admin_ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @place and @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this admin_place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.hidden_field :place_id %>
  </div>
  <%= fields_for :place do |b| %>
    <div class="field">
      <%= b.label :place %><br>
      <%= b.autocomplete_field :name, autocomplete_place_name_admin_places_path,
       id_element: '#ad_place_id', update_elements: { phone: '#place_phone', latitude: '#place_latitude', longitude: '#place_longitude' },
       "data-autocomplete-label" => "Place doesn't exist - create one" %>
    </div>
    <div class="field">
      <%= b.label :phone %><br>
      <%= b.text_field :phone, class: 'extra_place_element' %>
    </div>
    <div class="field">
      <%= b.label :latitude %><br>
      <%= b.text_field :latitude, class: 'extra_place_element' %>
    </div>
    <div class="field">
      <%= b.label :longitude %><br>
      <%= b.text_field :longitude, class: 'extra_place_element' %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
