<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Place:</strong>
  <%= @ad.place_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @ad.photo %>
</p>

<%= link_to 'Edit', edit_admin_ad_path(@ad) %> |
<%= link_to 'Back', admin_ads_path %>
