<%= simple_form_for([:admin, @user], html: { class: 'form-horizontal' }) do |f| %>
  <%= render 'shared/error_messages', item: @user %>

  <div class="form-inputs">
    <%= f.input :first_name, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-inputs">
    <%= f.input :last_name, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-inputs">
    <%= f.input :city, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-inputs">
    <%= f.input :email, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-inputs">
    <%= f.input :photo, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-inputs">
    <%= f.input :gender, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-inputs">
    <%= f.input :links, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-inputs">
    <%= f.input :phone, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-inputs">
    <%= f.input :age, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-inputs form-inline">
    <%= f.input :bdate, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-inputs">
    <%= f.input :longitude, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-inputs">
    <%= f.input :latitude, input_html: { class: 'form-control' } %>
  </div>
  <br /><br />
  <div class="form-inputs">
    <%= f.button :submit, class: 'btn btn-primary form-control' %>
  </div>
<% end %>
